.search-button {
    background-color: #f9e747;
    color: rgb(49, 44, 44);
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #f4f88b;
}
