.search-button {
    background-color: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0b7dda;
}
